# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Zip folders
instruct-progs.tar.gz
simplesim-3v0e.tgz

# Targets
simplesim-3.0/sim-bpred
simplesim-3.0/sim-cache
simplesim-3.0/sim-eio
simplesim-3.0/sim-fast
simplesim-3.0/sim-outorder
simplesim-3.0/sim-profile
simplesim-3.0/sim-safe
benchmarks/sim-safe